@model IEnumerable<SmartRegistry.Web.Models.Faculty>

@{
    ViewData["Title"] = "Index";
}

<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">



                <!-- end row -->
                @*<div class="row">
                        <div class="col-lg-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <form>
                                            <div class="form-group search-box">
                                                <input type="text" id="search-input" class="form-control product-search" placeholder="Search here...">
                                                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-sm-2">
                                        <a class="btn btn-success btn-rounded btn-md waves-effect waves-light m-b-30" onclick="advancedSearch()"><i class="md md-add"></i> Advanced Search</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a asp-area="" asp-controller="Patient" asp-action="Create" class="btn btn-success btn-rounded btn-md waves-effect waves-light m-b-30"> Add New Patient</a>
                                    </div>

                                    <div class="col-sm-8" id="advanced-search">
                                        <form>
                                            <div class="form-group search-box">

                                                <input for="checkbox5" type="checkbox"> ID Number

                                                <input type="checkbox" name="sameaddress" value="" id=""> First Name

                                                <input type="checkbox" name="sameaddress" value="" id=""> Patient ID

                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <div class="table-responsive">
                                    <table class="table table-hover mails m-0 table table-actions-bar" id="tblPatients">
                                        <thead>
                                        <tr>
                                            <th>Patient ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Contact No.</th>

                                            <th>Edit Patient</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div> <!-- end table responsive -->
                            </div> <!-- end card-box -->

                        </div> <!-- end col -->


                    </div>*@
                <!-- end row -->

                <div class="row">
                    <div class="col-md-12">

                        <div class="panel-group">
                            <div class="col-md-12">
                                <div class="panel-default">
                                    <div class="row">
                                        <h2 class="well text-center">Information Technology (Faculty Name)</h2>
                                        <p class="text-center">The description goes here</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">


                                        <div class="panel-primary">
                                            <div class="panel-heading">
                                                <h2 class="text-center">Announcements</h2>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <div>
                                                                <h4>Announcement #1</h4>
                                                                <p class="col-md-12">blah blah blah blah blah blah blah blah blah blah blah blah ... </p>
                                                                <a href="#" class="btn btn-primary">Read more</a> <i class="pull-right">30/05/2018</i>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div>
                                                                <h4>Announcement #2</h4>
                                                                <p class="col-md-12">blah blah blah blah blah blah blah blah blah blah blah blah ... </p>
                                                                <a href="#" class="btn btn-primary">Read more</a> <i class="pull-right">30/05/2018</i>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div>
                                                                <h4>Announcement #3</h4>
                                                                <p class="col-md-12">blah blah blah blah blah blah blah blah blah blah blah blah ... </p>
                                                                <a href="#" class="btn btn-primary">Read more</a> <i class="pull-right">30/05/2018</i>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>



                                        @*<table class="table table-striped table-bordered table-responsive col-md-12">
                                <thead class="col-md-12">
                                    <tr class="col-md-6">
                                        <th class="col-md-12">Message</th>
                                    </tr>
                                    <tr class="col-md-6">
                                        <th class="col-md-12">Publisher</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>*@
                                    </div>
                                    <div class="col-md-4">

                                        <div class="panel-primary">
                                            <div class="panel-heading">
                                                <h2 class="text-center">List of Departments goes here</h2>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <a href="#">Computer Sciences</a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <a href="#">Computer System's Engineering</a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <a href="#">IT Support</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            @{
                <i>@string.Format("{0} © SmartRegistry", DateTime.Now.Year)</i>
            }

        </footer>

    </div>

</div>


